:root {
  /* COLORS */
  --main-color: #603F83;
  --light-main: #C7D3D4;
  --secondary-color: #195190;
  --light-secondary: #A2A2A1;
  --alert: #F5D042;
}

/* RESET */
body {
  background-color: var(--main-color);
  color: var(--light-main);
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: var(--alert);
}

/* NAVBAR */
.navbar {
  z-index: 100;
}

.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

/* HERO */

.hero {
  height: 100vh;
}

.custom-jumbo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  background: #603f83;
  box-shadow: inset 35px 35px 70px #4d3269,
    inset -35px -35px 70px #734c9d;
}

.mirror {
  transform: scaleX(-1);
  background-color: #ffffff22 !important;
  border: none;
}

.card {}

.card-hero {
  display: flex;
  align-items: center;
  max-width: 450px;
  border: none;
}

.btn-custom {
  border: 1px var(--light-main) solid;
  border-radius: 10px;
  font-weight: 700;
}

.btn-custom:hover {
  background-color: var(--light-main);
  color: var(--main-color);
}

/* ANIMATION */
.particles .scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* WORK */
.card-custom {
  border-radius: 15px;
  background: linear-gradient(145deg, #563976, #67438c);
  box-shadow: 9px 9px 20px #4d3269,
    -9px -9px 20px #734c9d;
  overflow: hidden;
  padding: 10px;
}

.card-custom:hover {
  border-radius: 15px;
  background: #603f83;
  box-shadow: 9px 9px 20px #4d3269,
    -9px -9px 20px #734c9d;
  color: var(--alert) !important;
}

/* .work-box {
} */

.face-img {
  max-width: 300;
  margin: auto;
}

/* SKILLS */

/* ABOUT & CONTACT */
.justify-text {
  text-align: justify;
}

/* CONTACT */

/* FOOTER */
.brand {
  font-family: "Lobster", cursive;
  font-size: 30px;

}