:root {}

/* NAVBAR */
.navbar {
  z-index: 100;
}

/* HERO */

.hero {
  height: 100vh;
}

.custom-jumbo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.mirror {
  transform: scaleX(-1);
}

.card {
  display: flex;
  align-items: center;
  border: none;
  max-width: 450px;
}

/* WORK */

.work-box {
  height: 100vh;
}

.face-img {
  max-width: 300;
  margin: auto;
}

/* SKILLS */

/* ABOUT */

/* CONTACT */

/* FOOTER */