/* :root {} */

/* RESET */
a {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}

/* NAVBAR */
.navbar {
  z-index: 100;
}

.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

/* HERO */

.hero {
  height: 100vh;
}

.custom-jumbo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.mirror {
  transform: scaleX(-1);
}

.card {
  display: flex;
  align-items: center;
  border: none;
  max-width: 450px;
}

/* ANIMATION */
.particles .scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* WORK */

/* .work-box {
} */

.face-img {
  max-width: 300;
  margin: auto;
}

/* SKILLS */

/* ABOUT & CONTACT */
.justify-text {
  text-align: justify;
}

/* CONTACT */

/* FOOTER */
.brand {
  font-family: "Lobster", cursive;
  font-size: 30px;

}